{% extends 'base.html.twig' %}

{% block title %}Übersicht{% endblock %}

{% block body %}

    <h2>Personen</h2>
    <table class="donor">
        <tr>
            <th>Name</th>
            <th>Daten gesendet?</th>
        </tr>
        {% for donor in donors %}
            <tr>
                <td class="donor__name">{{ donor.name }}</td>
                <td class="donor__submitted donor__submitted--{{ donor.hasSubmitted ? 'yes' : 'no' }} ">
                    {% if donor.hasSubmitted %} ja {% else %} nein {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    <div> Es müssen noch <strong> {{ (donors|length) - submissions }} </strong> Personen ihre Beschenkten eingeben.</div>
{% endblock %}
