{% extends 'base.html.twig' %}

{% block body %}
    <h2>Danke, {{ donor.name }}!</h2>

    {% if donor.knowsReceiver %}
        <p>Du musst nichts weiter tun, die Personen, die ihre Beschenkten nicht wussten, werden eine E-Mail-bekommen,
            sobald die restlichen Personen ihre Daten eingegeben haben.</p>
    {% else %}
        <p>Sobald die restlichen <strong>{{ missingSubmissions }}</strong> Personen ihre Daten eingeben haben,
            bekommest Du eine E-Mail mit Deinem neu ausgelosten Schenk-Ziel.</p>
    {% endif %}
{% endblock %}

{% block title %}
Daten abgeschickt
{% endblock %}

