{% extends 'base.html.twig' %}

{% block body %}
<h2>Fertig!</h2>
    <p>Alle Schenker bekommen eine E-Mail mit ihrem neuen zu Beschenkden.</p>
{% endblock %}

{% block title %}
Fertig
{% endblock %}

